<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
        <title>Registro de detenidos</title>
    </head>

    <body>
        <div class="container">
            <h1 class="text-center m-4 text-decoration-underline">Registro de detenidos</h1>
            <div class="card">
                <div class="card-header">
                    Informacion personal del detenido
                </div>
                <div class="card-body">
                    <form action="">

                        <div class="row g-2 align-items-center mb-4">
                            <div class="col-3">
                                <label for="inputPassword6" class="col-form-label">Nombre de detenido</label>
                            </div>

                            <div class="col-6">
                                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                            </div>
                        </div> 

                        <div class="row g-2 align-items-center mb-4">
                            <div class="col-3">
                                <label for="inputPassword6" class="col-form-label">Apellido de detenido</label>
                            </div>

                            <div class="col-6">
                                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                            </div>
                        </div> 

                        <div class="row g-2 align-items-center mb-4">
                            <div class="col-3">
                                <label for="inputPassword6" class="col-form-label">Dui</label>
                            </div>
                            <div class="col-6">
                                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                            </div>
                        </div> 

                        <div class="card">
                            <div class="card-header">
                                Lugar de residencia
                            </div>

                            <div class="card-body">
                            
                                <div class="row g-2 align-items-center mb-4">

                                    <div class="col-3">
                                        <label for="inputPassword6" class="col-form-label">Departamento</label>
                                    </div>

                                    <div class="col-6">
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option selected>Seleccione departamento</option>
                                            <option value="1">San salvador</option>
                                            <option value="2">La union</option>
                                            <option value="3">San miguel</option>
                                        </select>
                                    </div>
                                </div> 

                                <div class="row g-2 align-items-center mb-4">
                                    <div class="col-3">
                                    <label for="inputPassword6" class="col-form-label">Municipio</label>
                                    </div>

                                    <div class="col-6">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" disabled>
                                            <option selected>Seleccione el municipio</option>
                                            <option value="1">Soyapango</option>
                                            <option value="2">San salvador</option>
                                            <option value="3">Ilopango</option>
                                        </select>
                                    
                                    </div>
                                </div> 

                            </div>
                        </div>
                        <!--estado de juicio-->
                        <p class="text-start mt-4 text-danger">Estado: Procesado</p>

                        <!--seleccion del delito-->
                        <div class="row g-2 align-items-center mb-4">

                            <div class="col-3">
                                <label for="inputPassword6" class="col-form-label">Seleccione el delito</label>
                            </div>

                            <!--select del delito-->
                            <div class="col-6">
                        
                                <select class="form-select" aria-label="Disabled select example" disabled>
                                    <option selected>Seleccione el delito</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            
                            </div>

                            <!--Botones de eliminar y sumar delitos-->
                            <div class="col-1 d-flex">
                                <button type="button" class="btn btn-black" >
                                    <i class="bi bi-dash-circle-fill fs-3" ></i>
                                </button>
                                <button type="button" class="btn btn-black" >
                                    <i class="bi bi-plus-circle-fill fs-3"></i>
                                </button>
                            </div>

                        </div> 

                        <div class="col-9">
                            <table class="table table-bordered border-dark rounded-5">
                                <thead>
                                    <tr>
                                        <th scope="col" width="100px">#</th>
                                        <th scope="col">Delito</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <th scope="row">4245</th>
                                        <td>violacion</td>
                            
                                    </tr>
                                    <tr>
                                        <th scope="row">155548</th>
                                        <td>robo</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>


                        <div class="card">
                            <div class="card-header">
                                Lugar de detencion de bartolinas
                            </div>
                            <div class="card-body">
                            
                                <div class="row g-2 align-items-center mb-4">
                                    <div class="col-3">
                                        <label for="inputPassword6" class="col-form-label">Departamento</label>
                                    </div>

                                    <div class="col-6">

                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            <option selected>Seleccione departamento</option>
                                            <option value="1">San salvador</option>
                                            <option value="2">La union</option>
                                            <option value="3">San miguel</option>
                                        </select>

                                    </div>
                                </div> 

                                <div class="row g-2 align-items-center mb-4">
                                    <div class="col-3">
                                        <label for="inputPassword6" class="col-form-label">Municipio</label>
                                    </div>

                                    <div class="col-6">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" disabled>
                                            <option selected>Seleccione el municipio</option>
                                            <option value="1">Soyapango</option>
                                            <option value="2">San salvador</option>
                                            <option value="3">Ilopango</option>
                                        </select>
                                    
                                    </div>
                                </div> 
                                
                                
                            </div>
                            
                        </div>
                        <!--botones para agregar y cancelar el registro-->
                        <div class="row justify-content-center mt-4">
                            <div class="col-3 p-3 d-grid">
                                <a href="/gestionarDetenidos"><input type = "button" value = "Cancelar registro" class="btn btn-danger"></a>
                            </div>
                            <div class="col-3 p-3 d-grid">
                                <a href="/gestionarDetenidos"><input type = "button" value = "Registrar Detenido" class="btn btn-info"></a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>  
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>